*.docx
*.pdf
!public/Sandbox 3.0 Project Proposal.pdf
!public/Sandbox 3.0 Sponsorship Proposal.pdf
!public/sandbox-rules-and-regulations.pdf
node_modules/
.next
.env
dist/
out/
build/
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
scratch/
.vercel
public/assets/_pre_optimization_backup/
scripts/
