@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('/fonts/coolvetica/Coolvetica Rg It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TheBoldFont';
  src: url('/fonts/the_bold_font/THEBOLDFONT-FREEVERSION.woff') format('woff'),
       url('/fonts/the_bold_font/THEBOLDFONT-FREEVERSION.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksilver';
  src: url('/fonts/quicksilver_3/Quicksilver.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksilver';
  src: url('/fonts/quicksilver_3/Quicksilver Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LemonMilk';
  src: url('/fonts/lemon_milk/LEMONMILK-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RockvilleSolid';
  src: url('/fonts/rockville_solid/Rockville Solid.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Santo';
  src: url('/fonts/santo/SANTO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adolphus';
  src: url('/fonts/adolphus/Adolphus.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arthead';
  src: url('/fonts/arthead/Arthead-Regular FREE.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-300;
  }
}
